In [1]:
import pandas as pd

In [2]:
loans_raw = pd.read_csv("https://raw.githubusercontent.com/mrbarron3/stat451/main/loan_data.csv")

# if the line above doesn't work for some reason, download the csv file to the same directory as this file
# uncomment the next line if need be
# pd.read_csv("loan_data.csv")

print(len(loans_raw))

9578

In [4]:
loans = loans_raw[["purpose", "int.rate", "installment", "log.annual.inc", "dti", "fico", "days.with.cr.line", "revol.bal", "delinq.2yrs", "not.fully.paid"]]

loans.head()

,purpose,int.rate,installment,log.annual.inc,dti,fico,days.with.cr.line,revol.bal,delinq.2yrs,not.fully.paid
0,debt_consolidation,0.1189,829.10,11.350407,19.48,737,5639.958333,28854,0,0
1,credit_card,0.1071,228.22,11.082143,14.29,707,2760.000000,33623,0,0
2,debt_consolidation,0.1357,366.86,10.373491,11.63,682,4710.000000,3511,0,0
3,debt_consolidation,0.1008,162.34,11.350407,8.10,712,2699.958333,33667,0,0
4,credit_card,0.1426,102.92,11.299732,14.97,667,4066.000000,4740,1,0